## Sequence objects or Iterables
- collection of elements - str, range(), enumerate(), zip(), map(), filter()
- Container sequences/Objects  - list, tuple, dict, set
- Note -  range(), enumerate(), zip(), map(), filter() - these are generating non-readable output when printed.
- Note - Any sequence can be converted to list/tuple
 
#### `Operations on Generic Sequences`
    - Membership - in | not in
    - Iteration - for-loop`

#### `Operations on Ordered/Indexed Sequences`
    - Indexing - obj[index_pos]
    - Slicing - obj[start : stop]
    - Concatenation - `+` operator
    - Repeatition - `*` operator

#### `Functions on Generic Sequences`
     - len() - gives the number of elements in the sequence
     - max() - gives the largest element in the sequence
     - min() - gives the smallest element in the sequence
     - sum() - applicable to numeric sequences, returns the sum of all elements in the sequence
     - math.prod() - applicable to numeric sequences, returns the product of all elements in the sequence
     - sorted() - sorts the elements in the sequence in ASC order and returns a list object
     

### Python Sequences and Containers
   
<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: center;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc; padding: 8px;">Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Container Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Sequence Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Element Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Enclosed in</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Immutability</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Duplicates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">str()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">characters</td>
      <td style="border: 1px solid #ccc; padding: 8px;">"" or ''</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">tuple()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">list()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">[]</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">set()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">heterogeneous (immutable objects)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">dict()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - immutable<br>Value - any type</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - No<br>Value - Yes</td>
    </tr>

## Tuples in Python


#### Tuples -
- are Python containers
- are an ordered sequence of mixed data
- enclose elements in a pair of round brackets, separated by commas
- are immutable

#### Defining a tuple

#### Empty Tuple

#### Single value Tuple

### Operations on Tuples
- Indexing and Slicing
- Iteration
- Membership
- Concatenation
- Repetition

#### Examples -

In [ ]:
fam = ("Rosie", 34, "Sam", 36, "Jonnah", 15, "Jessie", 12)

###### Ex. Extract 1st element from tuple -

###### Ex. Extract last element from tuple -

###### Ex. Extract first 3 elements from tuple -

###### Ex. Extract last 2 element from tuple -

###### Ex. Extract "True" from the given Tuple

###### Ex. WAP to reverse the tuple

#### `tup[ start : stop : step]`

### Packing/Unpacking of Tuples - 

- In Python, unpacking of tuples refers to the process of assigning the individual elements of a tuple to multiple variables in a single statement.
- This feature allows you to extract values from a tuple and assign them to distinct variables in a convenient and readable way.

#### Applications -

1. Defining multiple variables in a single line

2. Assigning multiple values to a single variable

###### Ex. Given a tuple ratings containing audience ratings for a training course across various categories, each scored out of 5, write a Python function to calculate the final rating. 

The final rating should be determined by adding the first value which refers to trainer ratings and the average of the remaining values which refer to platflorm ratings like labs, hardware, duration etc.

In [ ]:
ratings = (4.5, 4.9, 3.4, 4, 4.3)

In [ ]:
ratings = ((4.5, 4.9, 3.4, 4, 4.3), (4.7, 4.3, 3.9, 4, 4.3), (4.8, 4.1, 4, 4, 4.3), (4.7, 4.3, 4.4, 4, 3.3))

3. Function returning multiple values

4. for-loop with multiple variables

###### Ex. Each sub-tuple contains defect counts in three categories for a batch of products, with each count representing a different defect type. Calculate and display the total defect percentage for each batch with batch numbers.

In [ ]:
# Sample data: each sub-tuple contains defect counts in three categories for a batch of products
defect_data = (
    (5, 3, 2),  # Batch 1
    (1, 4, 0),  # Batch 2
    (7, 6, 3),  # Batch 3
    (2, 1, 1)   # Batch 4
)

# Total number of products in each batch
total_products_per_batch = 80

#### enumerate(`seq`, `start = 0`)
- The enumerate() function adds a counter to an iterable (such as a list, tuple, or string) and returns it as an enumerate object(sqe object).
- Enumerate object - sequence of tuples of size 2; with first element as the counter and second element is the element from iterable.
##### Note - enumerate object is not readable when printed. But can be iterated using for-loop or can be converted to a list/tuple

In [ ]:
lst = ["Jane", "Jack", "Rosie", "Diana"]

In [ ]:
# example of unpacking of tuples

In [ ]:
# Application of for-loop and enumerate in visualisation - annotations

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize = (6, 2))
products = ["P1", "P2", "P3", "P4", "P5"]
sales = [6000, 3000, 4000, 5000, 8000]

#### Syntax to install any third-party library-

In [ ]:
# in jupyter - 
!pip install matplotlib

In [ ]:
# int Terminal window
pip install matplotlib

<hr><hr>

## Lists in Python 

#### Lists -
- are Python containers
- are an ordered sequence of mixed data
- enclose elements in a pair of square brackets, separated by commas
- mutable


### Operations on Lists
- Indexing and Slicing
- Iteration
- Membership
- Concatenation
- Repetition

### Built-in functions on Lists
- **len()** - returns length of the list
- **min(), max()**  - returns minimum and maximum element from the list
- **sorted()** - sorts the elements of the list and returns a list
- **sum()** - applicable to only numeric lists, returns summation of all the elements int the list

#### Defining a list

In [ ]:
friends = [ 'Ross', 'Monica', 'Joey', 'Chandler']

### Adding/Removing elements in a list

**lst.append(`object`)** 
- appends element to the end of the list

###### Ex. Append 'Phoebe' to the end of the list

**lst.insert(`index`,`object`)** 
- inserts element at the mentioned index location

###### Ex. Insert 'Rachel' at index position 4

**lst.extend(`seq-obj`)** 
- always take a sequnce as parameter, appends all the elements from sequence to end of the list.

###### Ex. Extend tuple of new_friends to the end of the friends list

In [ ]:
new_friends = ("Jack", "Jane", "Jasmine", "Rosie")

**lst.pop()** 
- deletes the last element from the list

**lst.pop(`index`)**
- deletes the element at the mentioned `index-value` from the list

**lst.remove(`obj`)** 
- removes the mention `obj` from the list

#### Examples -

###### Ex. Write a program to combine two lists, one containing product names and the other containing sales figures, to generate a consolidated report.

In [ ]:
# Lists containing product names and their corresponding sales figures
products = ["Laptop", "Smartphone", "Headphones", "Keyboard"]
sales = [150, 300, 120, 90]

**zip(`list1`, `list2`, ...)**
- the zip() function is used to combine multiple iterables (such as lists, tuples, or strings) into a single iterable of tuples.
- Each tuple contains elements from the input iterables at corresponding positions.
- It effectively "zips" together the elements from the provided iterables, creating pairs (or n-tuples) of elements.

###### Ex. Write a program to manage a to-do list. 
- Accept 3 tasks from the user and add them to the list.
- Create a function that adds a new task to the list and displays the updated list.
- Create a function that displays all tasks with their respective numbers, allows the user to delete a task by entering its number, and then displays the updated list.

In [ ]:
# Create a function that adds a new task to the list and displays the updated list.

In [ ]:
# Create a function that displays all tasks with their respective numbers,

In [ ]:
# Create a function that allows the user to delete a task by entering its number, and then displays the updated list.

**enumerate(`iterable`, `start = 0`)**
- The enumerate function in Python is a built-in utility that simplifies working with iterable objects (like lists, tuples, strings, etc.) by providing an automatic counter along with the elements of the iterable.
- It's commonly used in loops when both the index and the element of an iterable are needed.
- Adds Index to Iterables: It returns a tuple containing the index (starting from 0 by default) and the corresponding item from the iterable.
- Custom Start Index: You can specify the starting index by passing a second argument.

###### Ex. Reading and writing tasks to file

<hr><br>

### Creating a copy of a list 
#### (Shallow copying and Deep Copying)

- Assignment statements create bindings between a target and an object, rather than copying objects.
- The `=` operator does not create a new object; it only creates a new variable that shares the reference of the original object.
- To work with mutable objects, users may need to create "real copies" or "clones" of these objects.
- Creating copies allows users to modify them without affecting the original object.

#### Shallow Copy

In [ ]:
lst1 = [2, 8, ["Jane", "Thomas", "Jack"]]

#### Deep Copy

In [ ]:
import copy
lst1 = [2, 8, ("Jane", "Thomas", "Jack")]

<hr><hr>

## Sets in Python

#### Sets -
- are Python containers
- are an unordered sequence of mixed data (immutable objects)
- encloses elements in a pair of curly brackets, separated by commas
- mutable
- do not allow duplicates
- allow set operations on data

### Operations on Sets
- Iteration
- Membership
- Set Operations
    - Union | Intersection | Difference | Symmetric Difference
    - Disjoint sets
    - Subsets and Supersets

### Built-in functions on Sets
- **len()** - returns length of the sets
- **min(), max()**  - returns minimum and maximum element from the set
- **sorted()** - sorts the elements of the set and returns a list
- **sum()** - applicable to only numeric sets, returns summation of all the elements int the set

#### Creating a set

In [ ]:
s = {10, 20, 30, 40, 50}
print(s)

### Adding/Removing elements

#### set.add(`obj`) 
- adds a new element to the set

In [ ]:
s.add("abcd")
print(s)

#### set.update(`seq`) 
- takes a sequence object as a parameter and adds all the elemnts from the sequence to the set

In [ ]:
s.update([1, 2, 3, 4])
print(s)

#### pop() 
- removes a random element from the set

In [ ]:
s.pop()
print(s)

#### remove(`obj`) 
- removes a specified elemnt from the set, givevs error if the element is not present in the set

In [ ]:
s.remove("abcd")
print(s)

#### discard(`obj`) 
- removes the specified element from the set, it will not give any error if element is not present.

In [ ]:
s.remove("abcd")
print(s)

In [ ]:
s.discard("abcd")
print(s)

#### Set Operations - Union | Intersection | Difference | Symmetric Difference

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [ ]:
set1 | set2 # union
set1.union(set2)

In [ ]:
set1 & set2 # intersection
set1.intersection(set2)

In [ ]:
set1 ^ set2
set1.symmetric_difference(set2)

In [ ]:
set1 - set2
set1.difference(set2)

#### Disjoint set
- if the two sets have no common elements

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

set1.isdisjoint(set2)

#### Subset | Superset

- If all elemenets of set1 are present in set2 then, 
    - set1 is subset of set2
    - set2 will be superset of set1

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set1.issubset(set2)

In [ ]:
set2.issuperset(set1)

#### Examples -

###### Set of members drinking tea and coffee

In [ ]:
drinks_coffee = {"Jane", "Jack", "Sam", "George", "Dori"}

drinks_tea = {"Jack", "Frank", "Cody", "Dori", "Bill"}

###### Ex. Are there any members who drink tea and coffee both? (Yes/No). If `Yes` then, display their names.

###### Ex. Does all the members who drink tea also drink coffee? (Yes/No). If `No` then, display the names of members who drink only tea but not coffee.

###### Ex. WAP to check if password entered by user is satisfying following condions or not -
1. length of password must be >= 8
2. username and password must not be same
3. Password must contain atleast 1 digit, 1 capital alphabet, 1 small alphabet and 1 special character like "!@#$%^&*"

**all(`seq`)** 
- The all() function returns True if all elements in the iterable are true (or if the iterable is empty). Otherwise, it returns False.
  
**any(`seq`)** 
- The any() function returns True if at least one element in the iterable is true. If all elements are false (or if the iterable is empty), it returns False.

<hr><hr>

## Dictionary in Python

#### Dictionaries are -
- are Python containers 
- are an unordered sequence of mixed data - does not follow indexing. But stores elements in the order as entered.
- Encloses elements in a pair of curly brackets
- elements are stored in the form of {key : value} pairs separated by commas
- keys are always unique and immutable
- values need not be unique and can be of any type
- mutable

###### Ex. Create a dictionary consisting of country names and their currencies

In [ ]:
country_currency = { "United States": "USD", "United Kingdom": "GBP", "India": "INR", "Australia": "AUD"}

###### Ex. Print currency for "India"

**dict.get(`keyname`, `value`)**
- keyname -	Required. The keyname of the item you want to return the value from <br>
- value -	Optional. A value to return if the specified key does not exist. Default value None

#### Examples -

###### Ex. WAP to create a dictionary combining the following two lists where name is key and marks as value

In [ ]:
names = ['Jane', 'Rosie', 'Mary', 'Sam', 'George']
salary = [70000, 90000, 40000, 55000, 76000]

In [ ]:
names = ['Jane', 'Rosie', 'Mary', 'Sam', 'George']

###### Ex. Develop a Python program to manage the inventory of a retail store using a dictionary.
- Initialize an inventory dictionary with product names as keys and quantities as values.
- Create a function to add a new product to the inventory:
    - If the product already exists, update its quantity.
    - If the product does not exist, add it to the inventory.
    - Display a message indicating the addition of the product and its quantity.
- Create a function to display the current inventory:
    - Iterate through the dictionary and print each product's name and quantity.

- Create a function to remove a product from the inventory:
    - If the product exists, remove it from the inventory.
    - Display a message indicating the removal of the product.
    - If the product does not exist, display a message indicating its absence.

In [ ]:
# Initialize an inventory dictionary with product names as keys and quantities as values.
inventory = {"Laptop": 15, "Smartphone": 25, "Tablet": 10, "Headphones": 30, "Charger": 50}

<hr><hr>

## Comprehensions in Python

- A **`comprehension`** is a concise and readable way to create and manipulate collections such as lists, dictionaries, and sets.
- Comprehensions provide a compact syntax to generate new sequences by applying an expression to each item in an existing sequence or iterable.
- Syntax - `[<expression> for <var> in <sequence> if <condition>]`
- The steps to work on a comprehension:
    1. Identify the iterable or sequence.
    2. Determine any conditions or filters.
    3. Define the expression or operation to apply.
    4. Specify the target mutable data structure.
- Note - Do not work with while loop, break and continue statements

###### Ex. WAP to generate a list of squares of number in range of 1-10

###### Ex. WAP to create a list of squares of even number in range of 1-10

###### Ex. WAP to create a dict of number from 1-10 as keys and their squares as values

###### Ex. WAP to create a dict of number from 1-5 as keys and their type as even/odd as value

#### Examples -

###### Ex. WAP to add 7% service tax to all the values in the "sales" list

In [ ]:
sales = [290, 500, 800, 650]

###### Ex. WAP to sum all the values in the "sales" tuple

In [ ]:
sales = ("$290", "$500", "$800", "$650")

###### Ex. Data Cleaning - Normalize product names in a dataset.

In [ ]:
# List of product names with inconsistent capitalization
products = ["  Apple  ", "banana", "CHERRY ", "Date"]

###### Ex. Identify products with low stock levels.

In [ ]:
inventory = {"apple": 50, "banana": 10, "cherry": 75, "date": 5}

In [ ]:
# Extract list of product names

###### Ex. Calculate the average performance score of employees.

In [ ]:
performance = { "John": [85, 90, 78], "Jane": [92, 88, 95], "Alice": [80, 85, 87]}

###### Ex. Calculate the percentage change in stock prices.

In [ ]:
# List of stock prices over time - ((new-old) / old) * 100
stock_prices = [95, 105, 118, 112, 120]

<hr><hr>