# Data Handling Using Python

## Array - Datastructure

#### NumPy – Introduction and Installation

- NumPy stands for ‘Numeric Python’
- Used for mathematical and scientific computations
- NumPy array is the most widely used object of the NumPy library

#### Installing related libraries
- one time activity
- can be done from terminal

**Terminal > New Terminal**

In [ ]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install seaborn

#### Importing libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Definition -

- NumPy arrays are multidimensional, homogeneous data structures used for efficient numerical computations in Python.  
- They are similar to Python lists but provide faster processing and require less memory.  
- Arrays can have any number of dimensions, such as 1D (vector), 2D (matrix), or higher-dimensional arrays.  
- All elements in a NumPy array must be of the same data type, ensuring performance optimization.  
- NumPy supports a wide range of data types, including integers, floats, complex numbers, and more.  
- Arrays are created using functions like `numpy.array()`, `numpy.zeros()`, `numpy.ones()`, and `numpy.arange()`.  
- NumPy arrays support vectorized operations, enabling element-wise arithmetic without explicit loops.  
- Slicing, indexing, and broadcasting enable efficient manipulation and computation on arrays.  
- NumPy integrates well with other scientific computing libraries, making it essential for data science and machine learning.  
- Arrays can be reshaped, transposed, and aggregated using built-in NumPy methods for flexible data handling.

- **Creating Arrays**
    - `np.array()` is used to create a numpy array from a list

In [ ]:
arr = np.array([10, 20, 30, 40])
arr

In [ ]:
arr_2d = np.array([[10, 20, 30, 40], [50, 60, 70, 80]])
arr_2d

- **Array Attributes** are the features/characteristics of an object that describes the object - 
    - **shape** - Array dimensions
    - **size** - Number of array elements
    - **dtype** - Data type of array elements
    - **ndim** - Number of array dimensions
    - **dtype.name** - Name of data type
    - **astype** - Convert an array to a different type

In [ ]:
arr_2d.shape

In [ ]:
arr_2d.size

In [ ]:
arr_2d.dtype

In [ ]:
arr_2d.ndim

In [ ]:
arr_2d.astype(float)

In [ ]:
np.arange(1, 11)

#### Array Operations

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; margin-left: 0; text-align: left;"> <thead> <tr style="background-color: #050A30; color: white; text-align: left;"> <th style="width: 15%; border: 1px solid #000; text-align: left;">Operation</th> <th style="width: 25%; border: 1px solid #000; text-align: left;">Syntax/Method</th> <th style="border: 1px solid #000; text-align: left;">Description</th> </tr> </thead> <tbody> <tr> <td style="border: 1px solid #000; text-align: left;">Creation</td> <td style="border: 1px solid #000; text-align: left;">numpy.array(), numpy.zeros(), numpy.ones(), numpy.arange()</td> <td style="border: 1px solid #000; text-align: left;">Create arrays from lists or generate arrays of zeros, ones, or ranges.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Indexing & Slicing</td> <td style="border: 1px solid #000; text-align: left;">arr[1], arr[1:4], arr[:,2]</td> <td style="border: 1px solid #000; text-align: left;">Access or modify elements, rows, columns, and subarrays efficiently.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Arithmetic Operations</td> <td style="border: 1px solid #000; text-align: left;">arr + 2, arr1 * arr2</td> <td style="border: 1px solid #000; text-align: left;">Vectorized element-wise addition, subtraction, multiplication, and division.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Aggregation</td> <td style="border: 1px solid #000; text-align: left;">arr.sum(), arr.mean(), arr.min(), arr.max()</td> <td style="border: 1px solid #000; text-align: left;">Compute sums, means, minima, maxima, and other aggregate statistics over arrays.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Reshaping</td> <td style="border: 1px solid #000; text-align: left;">arr.reshape(new_shape)</td> <td style="border: 1px solid #000; text-align: left;">Change the dimensions of an array without changing its data.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Stacking & Splitting</td> <td style="border: 1px solid #000; text-align: left;">numpy.vstack(), numpy.hstack(), numpy.split()</td> <td style="border: 1px solid #000; text-align: left;">Combine multiple arrays vertically or horizontally and split arrays into subarrays.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Broadcasting</td> <td style="border: 1px solid #000; text-align: left;">arr + scalar, arr1 + arr2(shape mismatch)</td> <td style="border: 1px solid #000; text-align: left;">Perform operations on arrays of different shapes by automatically expanding smaller arrays.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Sorting</td> <td style="border: 1px solid #000; text-align: left;">arr.sort(), numpy.sort(arr)</td> <td style="border: 1px solid #000; text-align: left;">Sort elements in an array in-place or return a sorted copy.</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Transposing</td> <td style="border: 1px solid #000; text-align: left;">arr.T</td> <td style="border: 1px solid #000; text-align: left;">Swap rows and columns in 2D arrays (matrices).</td> </tr> <tr> <td style="border: 1px solid #000; text-align: left;">Copying</td> <td style="border: 1px solid #000; text-align: left;">arr.copy()</td> <td style="border: 1px solid #000; text-align: left;">Create a deep copy of an array to avoid modifying the original.</td> </tr> </tbody> </table>

#### Problem Definition (CityFlow Shuttle Service, Mumbai):

CityFlow operates a shuttle service across 10 key Mumbai routes, connecting residential neighborhoods to office hubs. The goal is to analyze shuttle route performance using metrics such as daily passenger counts, satisfaction scores, and shuttle frequency. Specifically, we want to:

- Identify underperforming routes (low passenger numbers and/or low satisfaction scores)
- Decide which routes may need to be closed due to poor performance
- Highlight routes where shuttle frequency should be increased to better meet passenger demand and improve overall service quality

In [ ]:
import numpy as np

# Shuttle service route names
routes = np.array(['Route A', 'Route B', 'Route C', 'Route D', 'Route E','Route F', 'Route G', 'Route H', 'Route I', 'Route J'])

# Daily passenger counts 
passenger_count = np.array([576, 432, 288, 518, 150, 720, 300, 240, 400, 265])

# Target daily passenger counts
target_passengers = np.array([500, 420, 225, 405, 200, 650, 320, 280, 450, 250])

# Shuttle frequency per route (trips per day)
shuttle_frequency = np.array([20, 15, 10, 18, 8, 25, 12, 10, 16, 9])

# Passenger satisfaction scores out of 10
satisfaction_score = np.array([8.5, 7.0, 5.8, 9.0, 4.5, 9.2, 7.5, 6.0, 8.0, 5.0])

# Profit generated from each route
profit_generated = np.array([40000, 25000, 19008, 45066, -2000, 48600, 19980, 15192, 24600, 14310])

# Target profit for each route
target_profit = np.array([30000, 22680, 14850, 35235, 6000, 43875, 21312, 17724, 27675, 13500])

###### Ex. How many shuttle routes are covered by cityflow?

In [ ]:
routes.size

###### Ex. Which shuttle route has the highest passenger count?

In [ ]:
passenger_count.max() == passenger_count # returns a bool array same size as original

In [ ]:
passenger_count[passenger_count.max() == passenger_count] # filtering or bool indexing

In [ ]:
passenger_count[passenger_count > 500]

In [ ]:
# Assuming arrays are synchronised
routes[passenger_count.max() == passenger_count]

In [ ]:
# Alternate method - 
passenger_count.argmax() # return the index position of the largest value
routes[passenger_count.argmax()]  # - indexing

###### Ex. Identify routes with passenger satisfaction scores below 6.0.

In [ ]:
routes[satisfaction_score < 6]

###### Ex. Which routes are not meeting their target passenger counts?

In [ ]:
routes[target_passengers > passenger_count]

###### Ex. Should any routes be considered for closure due to low passengers and low satisfaction? If yes, which ones?

-  low passengers - passengers < 300
-  low satisfaction - score < 6.0

In [ ]:
routes[(passenger_count < 300) & (satisfaction_score < 6) ] # and condition

In [ ]:
routes[(passenger_count < 300) | (satisfaction_score < 6) ] # or condition

In [ ]:
result = routes[(passenger_count < 300) & (satisfaction_score < 6)]
if result.size >= 1 :
    print(f"Yes. These routes can be considered for closure - {", ".join(result)}")
else:
    print("No")

In [ ]:
# Alternate option
result = routes[(passenger_count > 500) & (satisfaction_score < 6)]
if any(result) :   # any() return true if result is non-empty and returns false if empty
    print("Yes")
else:
    print("No")

###### Ex. Which routes might benefit from decreasing shuttle frequency to meet demand?

HINT - 
1. Calculate passengers per trip for each route
2. Calculate average passengers per trip across all routes
3. Identify routes where passengers per trip exceed average, indicating a potential need to increase frequency

In [ ]:
passengers_per_trip = (passenger_count / shuttle_frequency).astype(int)
avg = passengers_per_trip.mean()
routes[passengers_per_trip < avg]

In [ ]:
passengers_per_trip

In [ ]:
avg

###### Ex. Calculate ratio of values less than avg and avg value

In [ ]:
routes_ = routes[passengers_per_trip < avg]
passengers_per_trip_ = passengers_per_trip[passengers_per_trip < avg]
ratio = np.round(passengers_per_trip_ / avg * 100, 2)
ratio

###### Ex. Find out the routes where ratio is less than 90%

In [ ]:
routes_[ratio < 90]

<hr><hr>

## Dataframe - Datastructure
- Pandas is an open source library in python which is know for its rich applications and utilities for all kinds of mathematical, financial and statistical functions
- It is useful in data manipulation and analysis
- It provides fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Data Structures in Pandas library -**

- Series - 1D labeled array
- Dataframe - 2D labeled data in the form of rows and columns. Each column or row of DF is a series object

### Creating Dataframes

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

##### Note - Each column of a dataframe is a Series object

### Accessing Dataframes

###### Ex. Extract Name column

In [ ]:
df["Name"] # returns series object

###### Ex. Extract first row

In [ ]:
df.iloc[0] # returns series object

###### Ex. Convert series into a dataframe

In [ ]:
df.Name.to_frame()

In [ ]:
df.Name.to_list()

In [ ]:
df.Name.to_numpy()

###### Ex. Extract Name and Salary columns

In [ ]:
df[["Name", "Salary"]]

### Setting and Re-setting index labels

#### `df.set_index(keys, drop=True, inplace=False,)`
- Set the DataFrame index (row labels) using one or more existing columns or arrays (of the correct length). The index can replace the existing index or expand on it.
#### `df.reset_index(level=None, drop=False, inplace=False,)` 
- Reset the index of the DataFrame, and use the default one instead. If the DataFrame has a MultiIndex, this method can remove one or more levels.

###### Ex. Set Name column as row index/label

In [ ]:
df.set_index("Name", inplace=True)

In [ ]:
df

### Indexing and Slicing on DataFrames
1. Based on labels - loc
2. Based on index positions - iloc

###### Ex. Extract data for "Jack"

In [ ]:
df.loc["Jack"]

###### Ex. Extract data for Jack and Lizie

In [ ]:
df.loc[["Jack", "Lizie"]]

###### Ex. Extract salary data for Jack and Lizie

In [ ]:
df.loc[["Jack", "Lizie"], "Salary"]

###### Ex. Only salary column using loc

In [ ]:
df.loc[:, "Salary"]

###### Ex. Extract data for row index 2

In [ ]:
df.iloc[2]

###### Ex. Extract data for row index 1 to 3

In [ ]:
df.iloc[1:4]

###### Ex. Salary for Jack(0) and lizie(2)

In [ ]:
df.iloc[[0, 2], 1]

###### Ex. Reset index

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

### Filtering Dataframes

###### Ex. Extract salary > 50000

In [ ]:
df[df.Salary > 50000]

###### Ex. Extract salary between 20000 to 50000

In [ ]:
df[df.Salary.between(20000, 50000)]

###### Ex. Extract designation either as HR or Developer

In [ ]:
df[df.Designation == "HR"]

In [ ]:
df[df.Designation.isin(("HR", "Developer"))]

###### Ex. Extract employees who name starts with J

In [ ]:
df[df.Name.str.startswith("J")]

###### Ex. Modify the salary of all employees to 80000 whose original salary is > 300000

In [ ]:
df[df.Salary > 30000] = 80000
df

In [ ]:
df.Salary[df.Salary > 30000] = 80000
df

In [ ]:
df.loc[df.Salary > 30000, "Salary"] = 80000

In [ ]:
df

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

### Operations on dataframes

###### Ex. Average Salary

In [ ]:
df.Salary.mean()

###### Ex. Average Salary of managers

In [ ]:
df[df.Designation == "Manager"].Salary.mean()

In [ ]:
df.Salary[df.Designation == "Manager"].mean()

## Data Manipulation using `pandas`

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (6, 2)
# Title
plt.rcParams['axes.titlesize'] = "medium"        # Title font size
plt.rcParams['axes.titlecolor'] = 'midnightblue' # Title font color

# X and Y axis labels
plt.rcParams['axes.labelsize'] = "x-small"          # Label font size
plt.rcParams['axes.labelcolor'] = 'darkslategrey' # Label font color

# Tick labels
plt.rcParams['xtick.color'] = 'darkslategrey'        # X-axis tick color
plt.rcParams['ytick.color'] = 'darkslategrey'        # Y-axis tick color
plt.rcParams['xtick.labelsize'] = "x-small"          # X-axis tick size
plt.rcParams['ytick.labelsize'] = "x-small"          # Y-axis tick size

# Legend
plt.rcParams['legend.fontsize'] = "x-small"          # Legend text size
plt.rcParams['legend.edgecolor'] = 'black'   # Legend border color
plt.rcParams['legend.facecolor'] = 'lightgray' # Legend background color
plt.rcParams['legend.labelcolor'] = 'darkslategrey'  # Legend label text color

### Reading data from various sources to DataFrame

###### Ex. Read data from excel

In [ ]:
pd.read_excel("login_credentials.xlsx", sheet_name="Sheet1")
# requires module - openpyxl | for Excel automations - xlwings

###### Read data from a database to DataFrame

- Syntax - dialect+driver://username:password@host:port/database
            
- Mysql - "mysql+pymysql://root:1234@localhost:3306/onlineshopping"
- Oracle - "oracle+cx_oracle://s:t@dsn"

In [ ]:
from sqlalchemy import create_engine, text

url = rf"oracle+cx_oracle://{input()}:{input()}@dsn""
engine = create_engine(r"sqlite:///employee.sqlite3")
conn = engine.connect()

In [ ]:
df = pd.read_sql_query(text("Select * from Employee where Designation = 'Manager'"), conn)
df

In [ ]:
df = pd.read_sql_table("Employee", conn)
df.head()

In [ ]:
df.to_sql()

###### Read data from json object

In [ ]:
import requests
url = r"https://shipment-tracker-ehfh.onrender.com/api/shipments"
response = requests.get(url)
response

In [ ]:
df = pd.DataFrame(response.json())

In [ ]:
df.to_csv(r"shipments.csv")

###### Read data from the txt file stored on github

In [ ]:
url = r"https://raw.githubusercontent.com/knowledge-corner/Oracle_Sept_25/refs/heads/main/classwork/customers.txt"
response = requests.get(url)
response

In [ ]:
from io import StringIO
df = pd.read_csv(StringIO(response.text))
df

###### Read data from txt or csv file

In [ ]:
df = pd.read_csv("customers.txt", header=None)
df.columns = ["Customer ID", "Fname", "Lname", "Age", "Profession"]
df[df.Profession == "Pilot"]

###### Ex. Read data from coffee_sales.csv

In [ ]:
df = pd.read_csv(r"coffee_sales.csv", header=2)
df

###### Ex. Rename headers

In [ ]:
df.columns = df.columns.str.strip()
df.head()

#### Attributes of dataframe

###### Ex. How many rows are there in the df?

In [ ]:
len(df) # gives number of rows in the df

In [ ]:
df.shape # (rows, cols)

In [ ]:
df.dtypes

#### Check for null values
`df.isna()` - Detect missing values. Return a boolean same-sized object indicating if the values are NA.

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum()

###### Ex. Are all the rows of first column null?

In [ ]:
df["Unnamed: 0"].isna().all()

#### Drop Column

###### Ex. Drop unnamed 0 column

In [ ]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

#### Remove/Replace nulls

- `df.fillna(value=None, inplace=False)` - Fill NA/NaN values using the specified method.
- `df.dropna(axis = 0, how = "any", inplace = False)`
    - axis 0 for row or 1 for column
    - how - {any or all}

###### Ex. After dropping Unnamed 0 column. 
    1. Check for nulls
    2. drop rows with all null values
    3. Identify values to replaced with default

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(how="all", axis = 0, inplace=True)

In [ ]:
df.isna().sum()

###### Ex. Extract the rows with null value to check if the row to be deleted or the NaN to be replaced?

In [ ]:
df[df["Target Profit"].isna()] # Returns all the rows where TP is NaN

In [ ]:
# df["Target Profit"].fillna(0, inplace=True)  - Older syntax - depricated
df.fillna({"Target Profit" : 0}, inplace=True)

In [ ]:
df.isna().any()

##### Note - 
This is older syntax. New syntax to be followed is - `df.method({col: value}, inplace=True)`

In [ ]:
# Final Code - 
df = pd.read_csv(r"coffee_sales.csv", header=2)
df.columns = df.columns.str.strip()

df.drop(columns=["Unnamed: 0"], inplace=True)
df.dropna(how="all", axis = 0, inplace=True)
df.fillna({"Target Profit" : "0"}, inplace=True)

df["Area Code"] = df["Area Code"].astype(int)
df.rename({"Area Code" : "Franchise"}, inplace = True, axis = 1)

obj = str.maketrans("(", "-", "$),")
df.Sales = df.Sales.str.translate(obj).astype(float)
df.Profit = df.Profit.str.translate(obj).astype(float)
df["Target Sales"]= df["Target Sales"].str.translate(obj).astype(float)
df["Target Profit"] = df["Target Profit"].str.translate(obj).astype(float)

df.head(2)

#### Data Cleaning

###### Ex. Convert all numeric column to float

In [ ]:
obj = str.maketrans("(", "-", "$),")
df.Sales = df.Sales.str.translate(obj).astype(float)
df.Profit = df.Profit.str.translate(obj).astype(float)
df["Target Sales"]= df["Target Sales"].str.translate(obj).astype(float)
df["Target Profit"] = df["Target Profit"].str.translate(obj).astype(float)
df.head()

###### Ex. Create a bar chart representing Sales across Products

In [ ]:
# using pandas
print(df.Product.unique())

In [ ]:
df.groupby("Product")["Sales"].sum() # returns a series

In [ ]:
df.groupby("Product", as_index=False)["Sales"].sum() # returns a dataframe

In [ ]:
_ = df.groupby("Product")["Sales"].sum().plot(kind = "bar", title = "Sales across Products")

In [ ]:
_ = df.groupby("Product")[["Sales", "Profit"]].sum().plot(kind = "bar", title = "Sales and Profit across Products")

In [ ]:
# using seaborn
_ = sns.barplot(data = df, x = "Product", y = "Sales", errorbar=None, estimator="sum", color = "teal")
_ = plt.xticks(rotation = 30)

In [ ]:
sns.histplot(data = df, x = "Sales", kde = True, hue= "Product Type")

In [ ]:
plt.figure(figsize=(12, 2))
sns.lineplot(data = df, x = "Date", y = "Sales", errorbar=None, estimator="sum")
_ = plt.xticks(rotation = 30)

###### Ex. Descriptive statistics

In [ ]:
df[["Sales", "Profit"]].describe().round(1)

###### Aggregating data

###### Ex. Total sales across Products and states

In [ ]:
df.groupby(["Product", "State"], as_index=False)["Sales"].sum() # Table chart

In [ ]:
pd.pivot_table(data= df, index="State", columns="Product", values="Sales", aggfunc="sum") # Matrix Chart

###### Ex. Display number of Franchise from each state across products

In [ ]:
pd.pivot_table(data= df, index="State", columns="Product", values="Franchise", aggfunc="nunique", fill_value=0)

###### Ex. Display total sales generated by products from product type - Coffee

###### Ex. Display total sales generated by Coffee products in Manipur

###### Ex. Display names of all the products sold.

#### Sorting Dafatrame
- df.sort_values(`ascending=True`, `inplace=False`, `na_position = {"first","last"}`)
- df.sort_index(`ascending=True`, `inplace=False`)

#### Add Column by calculation to the dataframe

###### Ex. Apply 7% service tax to sales values and add it as a new column

###### Ex. Check the status of target sales and add it to the dataframe as a new column

**np.where(`condition`, `true value`, `false value`)** - > array object

###### Ex. Count number of transactions achieving the targets. Display it as a bar graph.

**np.select(`cond_list`, `result_list`, `default = 0`)**

#### Aggregating Dataframes
- `df.groupby(by=None,as_index=True, sort=True)`

###### Ex. Total sales generated by all products

#### Creating Pivot Table
-   `df.pivot_table(index, columns, values, aggfunc, fill_value)`

###### Ex. Display total sales by product and State - matrix chart

###### Ex. How many franchises in each city are selling each product?

#### Working with date column

###### Ex. Convert date column to date type

###### Ex. Create a table representing total sales over years and month

###### Ex. Create a line chart using seaborn visualising sales on months and years - Trend

###### Ex. Create a line chart using seaborn visualising sales agg on months - Sesonality

###### Ex. Bar - chart

###### Ex. Switch the line to constant value = avg(sales)

###### Ex. Assign teal to bar with sales above average and orange to sales below average