# Assignment

### Employee Dataset -

The given dataset comprises employee details like name, age, salary and designation. Based on the mentioned dataset, answer the following questions.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

employee_name = np.array(["Claire", "Darrin", "Sean", "Brosina", "Andrew", "Irene", "Harold", "Pete", "Alejandro", "Zuschuss", "Ken", "Sandra", "Emily", "Eric", "Tracy", "Matt", "Gene", "Steve", "Linda", "Ruben", "Erin", "Odella", "Patrick", "Lena", "Darren", "Janet", "Ted", "Kunst", "Paul", "Brendan"])
salary = np.array([88962,  67659, 117501, 149957,  32212,  63391,  14438,  22445, 72287, 195588,  17240, 115116,  18027,  55891, 109132,  83327, 22125,  29324,  54003,  18390, 141401, 19593,  57093, 130556, 22093,  13058,  26180,  23259,  34248,  27416])
designation = np.array(['Manager', 'Team Lead', 'Manager', 'Senior Manager', 'Team Lead', 'Team Lead', 'Developer', 'Developer', 'Team Lead', 'Managing Director', 'Developer', 'Manager', 'Developer', 'Team Lead', 'Manager', 'Manager', 'Developer', 'Team Lead', 'Team Lead', 'Developer', 'Senior Manager', 'Developer', 'Team Lead', 'Senior Manager', 'Developer', 'Developer', 'Team Lead', 'Developer', 'Team Lead', 'Team Lead'])
age = np.array([35, 26, 36, 44, 33, 33, 23, 22, 35, 53, 25, 41, 24, 31, 34, 43, 22, 29, 35, 25, 47, 22, 26, 52, 25, 25, 27, 24, 27, 30])

##### Q. What is the size of the employee dataset?

##### Q. How old is `Tracy` ?

##### What is `Andrew`'s designation?

##### Q. Name the employee with the highest salary.

##### Q. What is the designation and age of the employee with the highest salary?

##### Q. How many managers are in there in the dataset?

##### Q. What is the salary bracket for a Developer?

##### Q. What is the average salary of a Team Lead?

##### Q. Plot a scatter plot showing salary and age relation. Does salary increase with age as per the visual?

##### Q. Plot a bar chart showing the average age per designation.